body{background-color: #27B1DB;
color: white;}




.jumbotron{margin-bottom: 30px;
background-color: #27b1DB;
color: white;
width: 100%}


.index-buttons .column{margin-bottom: 30px;}

.gravatar{
-webkit-border-radius: 250px;
-moz-border-radius: 250px;
border-radius: 250px;
}
a{color: #0e4657;
background-color: none;
}
a:hover{
text-decoration: none;
color: white;
}



/*scenario*/

.scenario {background-color: #eee;
color: #333;
border: none;
padding: 15px;
font-size: 15px;}

.scenario a{color: #333;
text-decoration: underline;}
.scenario a:hover{color: white;
background-color: #333;
text-decoration: none;}

.step{font-size:15px;margin-top:20px;
border:1px solid #ccc;
background-color: white; color: #333; padding: 5px;}

.query{background-color: #333;
color: white;
padding: 5px;
border: 1px solid #ccc;
font-family: "Courier New";}


.scenario img{ margin-top: 20px; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top: 10px;
  color: white;
  background-color:#333;
  text-align: center;
}


/*  navbar */
.navbar{background-color: none;}

.navbar-custom {
    background-color: #333;
    border-color: none;
    color: #eee;
    border-radius: 0;
}
.navbar-custom .navbar-nav > li > a {
    color:#eee;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #27b1DB;
    background-color: transparent;
}

.steps h2 {
  color: #555;
  border-bottom: 1px solid #555;
  margin-top: 30px;
}

.bg-info, .bg-warning {
  font-style: italic;
  font-size: 13px;
  padding: 5px 10px;
  margin: 10px 0;
}

.scenario {
  border: 1px solid #ccc;
  background-color: #fff;
}
.scenario:before {
  content: "Scenario";
  font-size: 26px;
}
  .scenario p {
    margin-left: 20px;
  }

.step { padding: 10px 20px; }
  .step a { text-decoration:underline; }

  .step a:hover {
    background-color: #000;
    color: #fff;
  }

  .step i {
    font-size: 20pt;
    font-style: normal;
    margin-right: 10px;
  }

  .step img {
    border: 1px solid #ccc;
    margin: 10px 0;
  }

  .step .step { border: none; }

.web-console-menu-item {
  font-family: monospace;
  font-style: italic;
  font-size: 10pt;
  background-color: #DDD;
  padding: 3px 7px;
}

.web-console-button {
  background-color: #008ABF;
  color: #fff;
  padding: 3px 7px;
  font-size: 10pt;
}
